/* Colors */
/* lightblue: E4F6FF */
/* darker blue: #46C5FF */

/* Genereal btn stylin */
.general-btn{
  background-color:  #46C5FF;
  border: #46C5FF;
}

.general-btn:hover {
  background-color: #328CB6;
  border: #328CB6;
}

.general-btn:focus {
  background-color: #328CB6;
  border: #328CB6;
}

/* /-page */

.splash-body {
  margin:0;
  padding:0;
  width: 100%;
}

.splash {
  background-color: #46C5FF;
  color: white;
  text-align: center;
  padding: 20px 0px;
}

.check-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check-form {
  width: 18em
}

.check-p {
  text-align: center;
  padding-top: 0px;
  margin: 25px;
}

.check-btn {
  margin: 10px;
  background-color: #46C5FF;
  border-color: #46C5FF;
  color: white;
}

.check-btn:hover {
  background-color: #328CB6;
  border-color: #328CB6;
  color: white;
}

.splash-expl {
  text-align: center;
  background-color: #E4F6FF;
  padding: 20px;
}

@media only screen and (max-width: 400px) {
  .expl-head {
    display: none;
  }
}

.splash-footer {
  position: relative; 
  width: 100%;
  bottom: 0;
  background-color: #ffab62;
}

.footer-text {
  color: white;
  font-size: 15px; 
  padding: 10px;
  margin-bottom: 0px;
}

/* Admin nav */
.admin-nav{
  background-color:  #46C5FF;
}

.admin-nav-btn {
  width: 80px;
  font-size: 13px;
  margin-top: 5px;
  background-color: #328CB6;
  border: #328CB6;
}

.admin-nav-btn:hover {
  background-color: #036C9C;
  border: #036C9C;
}

/* Admin page */
.adminlaundrycard {
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #46C5FF;
  display: flex;
  flex-direction: row;
}

.laundrycard-img {
  margin: 10px;
  vertical-align: center;
}

.laundrycard-form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 70%;
}

.laundrycard-input {
  margin: 10px;
  width: 80%;
}

.admin-card-title{
  font-weight: 600;
}

.create-laundryitem-btn {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.admin-list-container{
  background-color: #E4F6FF;
  margin: 0px;
  padding: 10px;
}



@media only screen and (max-width: 450px) {

  /* Admin page */
  .adminlaundrycard {
    display: flex;
    flex-direction: column;
  }


.laundrycard-img {
  vertical-align: left;
}

  .laundrycard-form {
    width: 93%;
    display: flex;
  }

}

