/* Colors */
/* lightblue: E4F6FF */
/* darker blue: #46C5FF */
/* darkest blue: #328CB6 */

html, body {
 margin: 0;
 padding: 0;
 height: 100%;
}
#root{
  height: 100%;
}

/* Genereal btn stylin */
.general-btn{
  background-color:  #46C5FF;
  border: #46C5FF;
}

.general-btn:hover {
  background-color: #328CB6;
  border: #328CB6;
}

.general-btn:focus {
  background-color: #328CB6;
  border: #328CB6;
}

.general-btn:disabled {
  background-color: #328CB6;
  border: #328CB6;
}

.admin-nav-btn {
  width: 80px;
  font-size: 13px;
  margin-top: 5px;
  background-color: #328CB6;
  border: #328CB6;
}

/* /-page */

.splash-body {
  height: 110%;
}

.splash-title{
  font-family: 'Hammersmith One', sans-serif;
}

.splash {
  background-color: #46C5FF;
  color: white;
  text-align: center;
  padding: 20px 0px;
}

.check-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check-form {
  width: 18em
}

.check-p {
  text-align: center;
  padding-top: 0px;
  margin: 25px;
}

.check-btn {
  margin: 10px;
  background-color: #46C5FF;
  border-color: #46C5FF;
  color: white;
}

.check-btn:hover {
  background-color: #328CB6;
  border-color: #328CB6;
  color: white;
}

.splash-expl {
  text-align: center;
  background: linear-gradient(180deg, rgba(228,246,255,1) 30%, rgba(141,217,252,1) 100%);
  padding: 40px;
  padding-bottom: 60px;
  margin-bottom: 0px;
  height: 70%;
}

.splash-footer {
  position: fixed; 
  width: 100%;
  bottom: 0;
  background-color: #ffab62;
}

.footer-text {
  color: white;
  font-size: 15px; 
  padding: 10px;
  margin-bottom: 0px;
}

.ordercard{
  margin: 5px;
}


.admin-nav{
  background-color:  #46C5FF;
}

.admin-nav-btn:hover {
  background-color: #036C9C;
  border: #036C9C;
}

.orderlist-admin{
  background: linear-gradient(180deg, rgba(228,246,255,1) 30%, rgba(141,217,252,1) 100%);
}

/* Admin pages */
.adminlaundrycard {
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #46C5FF;
  display: flex;
  flex-direction: row;
}

.laundrycard-img {
  margin: 10px;
  vertical-align: center;
}

.laundrycard-form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 70%;
}

.laundrycard-input {
  margin: 10px;
  width: 80%;
}

.admin-card-title{
  font-weight: 600;
  color: #328CB6;
}

.create-laundryitem-btn {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.createbtn{
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 600;
}

.admin-list-container{
  background: linear-gradient(180deg, rgba(228,246,255,1) 30%, rgba(141,217,252,1) 100%);
  margin: 0px;
  padding: 10px;
}

.orderlist{
  background: linear-gradient(180deg, rgba(228,246,255,1) 30%, rgba(141,217,252,1) 100%);
  margin: 0px;
  padding: 10px;
  height: 100%;
}

.admin-signin {
  background: linear-gradient(180deg, rgba(228,246,255,1) 30%, rgba(141,217,252,1) 100%);
  height: 100%;
}

.admin-signinform{
  margin: 10px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ordercard{
  margin: 5px;
}

.avail-list{
  display :flex;
  flex-wrap: wrap;
  background: linear-gradient(180deg, rgba(228,246,255,1) 30%, rgba(141,217,252,1) 100%);
  height: 100%;
}

.btn-primary.dropdown-toggle {
  background-color: #46C5FF!important;
  border: #46C5FF!important;
}


@media only screen and (max-width: 450px) {

  /* Admin page */
  .adminlaundrycard {
    display: flex;
    flex-direction: column;
  }

.avail-list{
  flex-flow: column wrap;
}

  .laundrycard-img {
    vertical-align: left;
    align-Self: center;
    border-radius: 10px;
  }

  .laundrycard-form {
    width: 93%;
    display: flex;
  }

  .expl-head {
    display: none;
  }

  .splash-expl {
    height: 55%;
  }

  .sortOrdersInput {
    padding-bottom: 15px;
    border-bottom: 1px solid #46C5FF;
  }
  /* .admin-list-container{
    height: 100%;
  } */

}

.signup{
  background: linear-gradient(180deg, rgba(228,246,255,1) 30%, rgba(141,217,252,1) 100%);
  margin: 0px;
  padding: 10px;
  height: 140%;
}

@media only screen and (min-width: 451px) {

  .adminlaundrycard {
    display: flex;
    flex-direction: row;
    /* width:  */
  }
}

@media only screen and (min-width: 800px) {

  .splash{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .splash>*{
    margin: 10px;
  }

  .signup{
    height: 100%;
  }
  .laundrycard-img {
    vertical-align: left;
    align-self: flex-start;
    margin-left: 10px;
    border: 1px solid #46C5FF;
    border-radius: 10px;
    margin-top: 50px;
  }
  .user-orders-container{
    height: 100%;
  }
}

@media only screen and (min-width: 900px) {
  .admin-list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 120%;
  }
  .user-orders-container{
    height: 100%;
  }
  .adminlaundrycard{
    width: 45%;
    height: 410px;
  }

}

/*///////////////////////CLIENT INTERFACE////////////////////////////*/
/*Home page*/
.amount-cart{
  
}
/*category Navbar*/
.category-navbar{

}
/*Laundries*/
.LaundriesList{
  display: flex;
  flex-wrap: wrap;
}
.LaundriesList .LaundryCard{
  margin: 10px;
}
.addOrRemove .lbtn{
  height: 28px;
  width: 28px;
  padding: 0;
  margin: 0;
}
.addOrRemove label{
  margin: auto 10px;
  border: 1px solid black;
  padding: 1px 10px;
}
.user-orders-container{
  background: linear-gradient(180deg, rgba(228,246,255,1) 30%, rgba(141,217,252,1) 100%);
  margin: 0px;
  padding: 10px;
}
.user-orders-container >div{
  display: flex;
  flex-wrap: wrap;
}

.signin{
  background: linear-gradient(180deg, rgba(228,246,255,1) 30%, rgba(141,217,252,1) 100%);
  margin: 0px;
  padding: 10px;
  height: 120%;
}





