/* Colors */
/* lightblue: E4F6FF */
/* darker blue: #46C5FF */

.splash-body {
  margin:0;
  padding:0;
  width: 100%;
}

/* /-page */
.splash {
  background-color: #46C5FF;
  color: white;
  text-align: center;
  padding: 20px 0px;
}

.check-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check-form {
  width: 18em
}

.check-p {
  text-align: center;
  padding-top: 0px;
  margin: 25px;
}

.check-btn {
  margin: 10px;
  background-color: #46C5FF;
  border-color: #46C5FF;
  color: white;
}

.check-btn:hover {
  background-color: #328CB6;
  border-color: #328CB6;
  color: white;
}

.splash-expl {
  text-align: center;
  background-color: #E4F6FF;
  padding: 20px;
}

@media only screen and (max-width: 350px) {
  .expl-head {
    display: none;
  }
}

.splash-footer {
  position: relative; 
  width: 100%;
  bottom: 0;
  background-color: #ffab62;
}

.footer-text {
  color: white;
  font-size: 15px; 
  padding: 10px;
  margin-bottom: 0px;
}

/* Admin page */
.card {
  margin: 10px;
}

.laundrycard-img {
  width: 20%;
  margin: 10px;
  vertical-align: center;
}

.laundrycard-form {
  display: flex;
  flex-direction: column;
}

.laundrycard-input {
  margin: 10px;
  width: 80%;
}

.btn-container-laundrycard {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.btn-container-laundrycard button {
  margin: 5px;
}

.create-laundryitem-btn {
  display: flex;
  justify-content: center;
  margin: 10px;
}


@media only screen and (min-width: 1000px) {

  /* Admin page */
  .laundrycard-form {
    display: flex;
    flex-direction: row;
  }
  
  .laundrycard-input {
    width: 50%;
    margin: 10px;
  }
  
  .btn-container-laundrycard {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-container-laundrycard button {
    width: 200px;  
  }

}

